html { 
  background: url(UVIC-Aerial.jpg) no-repeat center center fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
#canvasID{
    opacity:0.9;
}
