html { 
  background: url(uvicAerial.jpg) no-repeat center center fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
#canvasID{
    opacity:0.9;
}

@font-face {
  font-family: trajan-pro;
  src: url('http://web.uvic.ca/~ashy/memory/TrajanBold.ttf');
}

h1 { font-family: trajan-pro; 
  

    font-size: 30.5px;
}

